@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* FOR PALETTE ONLY, NOT FOR USE */
.colors {
  /*DARK*/
  color: #29597e; /* 41, 89, 126 */
  color: #7e5729; /* 126, 87, 41 */
  color: #7e2929; /* 126, 41, 41 */
  color: #67297e; /* 103, 41, 126 */
  color: #477e29; /* 71, 126, 41 */
  color: #797e29; /* 121, 126, 41 */

  /*LIGHT*/
  color: #3e83b0; /* 62, 131, 176 */
  color: #b0803e; /* 176, 128, 62 */
  color: #b03e3e; /* 176, 62, 62 */
  color: #953eb0; /* 149, 62, 176 */
  color: #6ab03e; /* 106, 176, 62 */
  color: #abb03e; /* 171, 176, 62 */

  color: rgb(106, 179, 235);
}

img {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

text {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

svg {
  overflow: visible;
  display: block;
  width: 100%;
}


html, body {
  margin: 0;
  padding: 0;
  background-color: #171e24;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  
}

canvas {
  display: block;
  position: relative;
}

.buttonControls {
  background-color:#29597e;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  text-align: "center";
  justify-content: "center";
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight:normal;
  margin: 3px;
  white-space: nowrap;

  transition: all 0.2s ease;
}

button:active {
  animation-direction: alternate;
  transform: scale(0.9);
  transition: transform 0.1s ease;
}

button:disabled {
  animation-direction: alternate;
  opacity: 0.5;
  transition: opacity 0.1s ease;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  flex-shrink: 0;
  color: white;
  margin: 0px 5px 5px 30px;
}

#subMainTitle {
  font-weight: normal; 
  font-size: 14px;
}

.headerContainer {
  border-radius: 5px;
  font-size: 12px;
  margin: 10px 2px 0px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight:bold;
  padding: 1vh;
  background-color:#115153;
}

.controlsTitle {
  color: white;
  font-size: 12px;
  margin: 3px;
}

form {
  border: none;
  color: white;
  padding: 1.7vh;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight:normal;
  margin: 3px;
}

.input_field {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight:normal;
  padding: 10px;
  height: 100% - 10px;
  width: 60px;
  margin: 3px;
}

.num_field {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight:normal;
  padding: 10px;
  margin: 3px;
  height: 100% - 10px;
  width: 50px;
}



p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: white;
  margin: 0px 2px 0px 5px;
  flex-shrink: 0;
}

.controls {
  display: inline-flex;
  background-color: #171e24;
  align-items:center;
  margin: 0px 30px 5px;
  padding: 0px;
  height: 40px;
}

.titleSection {
  display: flex;
  background-color: #171e24;
  align-items:baseline;
  margin: 0px;
  padding: 10px 0px 15px 0px;
  height: 45px;
  width: 100%;
}

.titleSectionLinks {
  height: inherit; 
  width: 100%;
  display: flex; 
  justify-content: flex-end; 
  align-items:baseline;
  flex-direction: row;
  padding-right: 15px;
}

.titleSectionLinks a {
  height: inherit; 
  justify-content: inherit;
  align-items: inherit;
  flex-direction: inherit;
}

.titleSectionLinks a img {
  height: 30px;
  margin-right:5px;
}

.controlsParent {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.selectionParent {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.selection {
  display: inline-flex;
  background-color: #171e24;
  align-items:center;
  margin: 0px 30px 0px;
  padding: 0px;
}

.selection a {
  margin-right: 5px;
  margin-bottom:0px;
  background-color:#29597e;
}

#sketchHolder {
  margin: 0 auto;
  position: relative;
}
  

.slidecontainer {
  width: 150px;
}

.slider {
  -webkit-appearance: none;
  width: 150px;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background-color:#7e2929;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background-color:#7e2929;
  cursor: pointer;
}

.red-color {
  background-color: #7e2929;
}

.orange-color {
  background-color: #7e5729;
}

.yellow-color {
  background-color: #797e29;
}

.green-color {
  background-color: #477e29;
}

.blue-color {
  background-color: #29597e;
}

.violet-color {
  background-color: #67297e;
}

.selection .cur-color {
  background-color:#1c2a35;
}

.bump-left {
  margin-left:15px;
}